/* styles.css */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

#menuToggle {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1100;
    color: green;
    background-color: #da801ae3;
    border-radius: 50%;
    overflow: hidden;
}

#menuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(249, 253, 4, 0.5);
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-x: hidden;
}

#menuOverlay.active {
    opacity: 1;
    transform: scale(1);
}

#menu {
    background-color: rgb(84, 85, 34);
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%; /* Asegura que el menú no exceda el ancho de la pantalla */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total del elemento */
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#menu ul li {
    margin: 20px 0;
}

/* Enlaces del menú */
#menu ul li a {
    color: #da801ae3;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    transition: color 0.3s ease;
    max-width: 100%; /* Asegura que los enlaces no excedan el ancho de la pantalla */
    box-sizing: border-box;
}
#closeMenu {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
}

/* Ajustes específicos para pantallas pequeñas */
@media (max-width: 600px) {
    #menuToggle {
        top: 10px;
        left: 10px;
        font-size: 24px;
        padding: 8px;
    }

    #menu ul {
        margin-top: 0;
    }
    #menu ul li a {
        font-size: 16px;
        padding: 8px;
    }

    #closeMenu {
        font-size: 24px;
    }

    #menu {
        width: 95vw;
        height: 95vh;
    }
}

/* Ajustes específicos para pantallas medianas */
@media (max-width: 1200px) {
    #menuToggle {
        top: 10px;
        left: 10px;
        font-size: 24px;
        padding: 8px;
    }

    #menu ul {
        margin-top: 0;
    }
    #menu ul li a {
        font-size: 16px;
        padding: 8px;
    }

    #closeMenu {
        font-size: 24px;
    }

    #menu {
        width: 95vw;
        height: 95vh;
    }
}
/* Estilos generales para el .image-container */
.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Ajustes para pantallas medianas */
@media (max-width: 1024px) {
    .image-container {
        height: 70vh; /* Reduce la altura en pantallas medianas */
    }

    .image-container + * {
        margin-top: 0; /* Elimina el margen superior del siguiente elemento */
    }
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}


/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .image-container {
        height: 50vh; /* Reduce aún más la altura en pantallas pequeñas */
    }

    .image-container + * {
        margin-top: 0; /* Elimina el margen superior del siguiente elemento */
    }
}


/* Ocultar imágenes inicialmente */
.responsive-img {
    width: 100%;
    height: auto;
    opacity: 0;
    display: none;  /* Oculta la imagen inicialmente */
    z-index: -1;  /* Envía las imágenes detrás de la imagen principal */
    transition: transform 1.5s ease-out, opacity 1.5s ease-out, z-index 0.5s;
    margin-top: 20px;
    border-radius: 8px;
}

.responsive-img-top {
    margin-top:0 !important;
}
/* Mostrar imágenes con animación */
.image-visible {
    opacity: 1;
    display: block;  /* Muestra la imagen cuando es visible */
    z-index: 1;  /* Trae las imágenes al frente */
}

/* Layout for the two-column row */
.content-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

/* Content block para las imágenes de izquierda y derecha */
.content-block {
    width: 48%;
    text-align: center;
    transform: translateY(-300px); /* Posición inicial arriba fuera de pantalla */
    opacity: 0;
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

/* Animación para content blocks cuando son visibles */
.content-block.image-visible {
    opacity: 1;
    transform: translate(0,0);
}

/* Ajustar imágenes dentro de los content blocks */
.content-block img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Bloque de ancho completo para la imagen debajo de las dos columnas */
.full-width {
    width: 80%;
    margin: 0 auto; 
}

/* Posicionamiento inicial para imágenes (off-screen, diagonal from top-center) */
.image-left {
    transform: translate(50%, -50%); /* Diagonal desde el centro-arriba, izquierda */
}

.image-right {
    transform: translate(-50%, -50%); /* Diagonal desde el centro-arriba, derecha */
}

.image-center {
    transform: translate(0, -50%); /* Directamente arriba */
}
/* Mover imágenes a posiciones finales cuando son visibles */
.image-visible.image-left, 
.image-visible.image-right, 
.image-visible.image-center {
    transform: translate(0, 0);
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .content-block {
        width: 100%; /* Hacer que cada bloque ocupe todo el ancho en pantallas más pequeñas */
    }

    .content-row {
        flex-direction: column;
    }
}
/* Estilos para el carrousel de la galería */
/* Estilo para el contenedor del carrusel */
.image-carousel {
    width: 100vw;
    height: 60vh; /* Puedes ajustar esta altura según lo desees */
    overflow: hidden; /* Asegura que los elementos puedan desbordar */
    justify-content: center;
}

/* Contenedor de Swiper */
.swiper-container {
    width: 100%;
    height: 100%;
}


.swiper-wrapper {
    display: flex;
    align-items: center; /* Centra verticalmente las imágenes */
    justify-content: center; /* Centra horizontalmente las imágenes */
}

/* Estilo para cada slide */
.swiper-slide {
    background: #fff; /* Fondo blanco para un contraste mayor */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Oculta cualquier desbordamiento no deseado */
    width: calc(80% - 10px); /* Ajusta el ancho al 80% del contenedor con un pequeño margen */
    height: 100%;
}

/* Imágenes dentro de los slides */
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease; /* Efecto suave al mover */
}

/* Hover effect para las imágenes */
.swiper-slide:hover img {
    transform: scale(1.1); /* Zoom al pasar el mouse */
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
gmp-map {
    height: 90%;
  }

/* CSS básico para el mapa */
#map {
    height: 50vh; /* El mapa ocupará el 50% de la altura de la ventana */
    width: 80%;  /* El mapa ocupará el 100% del ancho disponible */
    min-height: 300px; /* Asegura que el mapa nunca sea más pequeño que 300px de altura */
    margin: 0 auto; 
}

/* Ajustes adicionales para pantallas pequeñas */
@media (max-width: 600px) {
    #map {
        height: 60vh; /* En pantallas más pequeñas, el mapa ocupa un poco más de la altura */
    }
}

/* Ajustes para pantallas grandes */
@media (min-width: 1200px) {
    #map {
        height: 40vh; /* En pantallas grandes, el mapa ocupa un poco menos de altura */
    }
}

/* Título del footer */
.titulo-footer {
    text-align: center;
    margin-bottom: 20px;
}

/* Contenedor personalizado del footer */
.custom-footer {
    background-color: #045808;
    color: #ffffff;
    padding: 40px 0;
    font-size: 14px;
}

/* Contenedor de las columnas del footer */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Columnas del footer */
.footer-column {
    flex: 1 1 30%; /* Asegura que cada columna ocupe aproximadamente el 30% del ancho disponible */
    margin-bottom: 20px;
}

/* Columna de logo */
.logo-column {
    text-align: center; /* Alinea el logo a la izquierda */
}

/* Logo en el footer */
.footer-logo img {
    max-width: 100px;
}

/* Lista de contacto */
.footer-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.footer-list-item {
    display: block;
    margin-bottom: 10px;
}

.footer-list-item a {
    color: #ffffff;
    text-decoration: none;
    position: relative; /* Necesario para la línea debajo */
    padding-bottom: 5px;
    overflow: hidden;
    display: inline-block;
}

.footer-list-item a:hover {
    color: #f8f9fa;
}

.footer-list-item a:hover::after {
    content: "";
    position: absolute;
    left: -100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #f8f9fa;
    transition: left 0.3s ease; /* Transición para el efecto de la línea */
}

.footer-list-item a:hover::after {
    left: 0; /* Desplaza la línea desde la izquierda a la derecha */
}

/* Redes sociales */
.footer-social {
    margin-top: 20px;
}

.footer-social a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #f8f9fa;
}

/* Menú de enlaces */
.links-column .footer-menu {
    list-style: none;
    padding: 0;
}

.links-column .footer-menu li {
    margin-bottom: 10px;
}

.links-column .footer-menu li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    position: relative; /* Necesario para la línea debajo */
    padding-bottom: 5px;
    overflow: hidden;
    display: inline-block; 
}

.links-column .footer-menu li a:hover {
    color: #f8f9fa;
}

.links-column .footer-menu li a:hover::after {
    content: "";
    position: absolute;
    left: -100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #f8f9fa;
    transition: left 0.3s ease; /* Transición para el efecto de la línea */
}

.links-column .footer-menu li a:hover::after {
    left: 0; /* Desplaza la línea desde la izquierda a la derecha */
}

/* Parte inferior del footer */
.footer-bottom {
    border-top: 1px solid #495057;
    padding-top: 20px;
    text-align: center;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .footer-column {
        flex: 1 1 100%; /* Ocupa todo el ancho en pantallas pequeñas */
        text-align: center; /* Alinea el texto en el centro en pantallas pequeñas */
    }

    .footer-social {
        justify-content: center;
    }
}

.button-container {
    position: absolute;
    top: 50%; /* Centrados verticalmente */
    left: 50%; /* Centrados horizontalmente */
    transform: translate(-50%, -50%); /* Ajustar para centrar completamente */
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre botones */
    z-index: 2; /* Asegurarse de que los botones estén sobre la imagen */
}

.btn-link,
.btn-link-up {
    background-color: #da801ae3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center; /* Centrar el texto dentro del enlace */
}

.btn-link-up {
    position: relative;
    top: -50px; /* Mueve el enlace más arriba en relación a su posición original */
}

.btn-link:hover,
.btn-link-up:hover {
    background-color: #b06816; /* Cambio de color en hover */
}

@media (min-width: 768px) {
    .btn-link-up {
        top: -70px; /* Aún más arriba en pantallas grandes */
        font-size: 24px; /* Aumentar el tamaño del texto en pantallas grandes */
    }
}



/* Estilos generales */
.titulo-carta {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #333;
}

.cartas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Tres columnas adaptativas */
    gap: 20px; /* Espacio entre cartas */
    padding: 0 20px; /* Asegurar espacio lateral en pantallas más pequeñas */
    box-sizing: border-box; /* Evitar overflow debido a padding */
}

.carta-item {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
}

.carta-item h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #444;
}

.imagenes-carta {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.imagenes-carta img {
    width: 100%;
    height: auto;
    max-width: 90%;
    border-radius: 8px;
    margin: 0 auto;
}

/* Estilos responsivos para pantallas medianas */
@media (max-width: 1024px) {
    .cartas-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajuste para pantallas medianas */
        gap: 15px; /* Reduce el gap para pantallas más pequeñas */
    }

    .titulo-carta {
        font-size: 2em; /* Reduce el tamaño del título */
    }

    .carta-item h2 {
        font-size: 1.6em;
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
    .cartas-container {
        grid-template-columns: 1fr; /* Solo una columna en pantallas pequeñas */
        padding: 0 10px;
    }

    .titulo-carta {
        font-size: 1.8em;
    }

    .carta-item h2 {
        font-size: 1.4em;
    }
}
/* Estilo para el fondo de la página de carta */
body.carta-page {
    background-color: #f5f5dc; /* Color crema */
}

body.nosotros {
    background-color: #faa49c;
}

/* PÁGINA DE NOSOTROS */
/* Estilo general */
.titulo-seccion {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #333;
}

.historia, .equipo, .galeria-imagenes {
    padding: 40px;
    margin: 20px auto;
    max-width: 1200px;
}

/* Galería */
.galeria-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imagen-item {
    width: 100%;
    max-width: 500px;
    position: relative;
    opacity: 0;
    transform: translateX(0);
    transition: all 1s ease;
}

.imagen-item img {
    width: 100%;
    border-radius: 8px;
    height: auto;
}

/* Animaciones */
.imagen-item:nth-child(odd) {
    transform: translateX(-100%);
}
.imagen-item:nth-child(even) {
    transform: translateX(100%);
}
.imagen-item.centrada {
    transform: translateZ(-100px);
    opacity: 0.5;
}

/* Equipo */
.equipo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.miembro-equipo {
    text-align: center;
    max-width: 30%;
    transition: all 0.8s ease;
}

.miembro-equipo h3 {
    margin-top: 10px;
    font-size: 1.8em;
    color: #444;
}

/* Animación cuando aparecen en viewport */
.visible {
    transform: translateX(0) !important;
    opacity: 1 !important;
}

/* PÁGINA PRIVACIDAD */
@media (min-width: 1024px) {
    .content-wrapper {
      margin-top: 10%;
      padding-left: 22%;
      padding-right: 22%;
    }
  }
  