{% extends 'pages/base.html' %}

{% block title %}Nuestro Equipo - Gastrotaberna Madre Mía{% endblock title %}
{% block body_class %}nosotros{% endblock body_class %}
{% block content %}
{% include 'pages/navbar.html' %}

<div class="contenedor-equipo">
    <h1 class="titulo-seccion">Nuestro Equipo</h1>

    {% for parrafo in parrafos %}
        <div class="equipo-bloque">
            <h2>{{ parrafo.titulo|title }}</h2>
            {% if parrafo.imagen %}
                <img src="{{ parrafo.imagen.url }}" alt="Imagen de {{ parrafo.titulo}}"/>
            {% endif %}
            <p>{{ parrafo.texto }}</p>
        </div>
    {% endfor %}

<!-- Swiper Thumb Gallery -->
<div class="swiper gallery-top">
    <div class="swiper-wrapper">
        <!-- Carrusel principal de imágenes principales -->
        {% for parrafo in imagenes_principales %}
        {% if parrafo.imagen %}
            <div class="swiper-slide">
                <img src="{{ parrafo.imagen.url }}" alt="Imagen de {{ parrafo.titulo }}"/>
            </div>
        {% endif %}
    {% endfor %}
    
    {% for imagen_adicional in imagenes_adicionales %}
        {% if imagen_adicional.imagen %}
            <div class="swiper-slide">
                <img src="{{ imagen_adicional.imagen.url }}" alt="Imagen adicional {{ imagen_adicional.indice }}">
            </div>
        {% endif %}
    {% endfor %}
    </div>

    <!-- Botones de navegación -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<!-- Carrusel de miniaturas -->
<div thumbsSlider="" class="swiper gallery-thumbs">
    <div class="swiper-wrapper">
        <!-- Imágenes principales -->
        {% for parrafo in imagenes_principales %}
            {% if parrafo.imagen %}
                <div class="swiper-slide">
                    <img src="{{ parrafo.imagen.url }}" alt="Miniatura de {{ parrafo.titulo }}">
                </div>
            {% endif %}
        {% endfor %}

        <!-- Imágenes adicionales -->
        {% for imagen_adicional in imagenes_adicionales %}
            {% if imagen_adicional.imagen %}
                <div class="swiper-slide">
                    <img src="{{ imagen_adicional.imagen.url }}" alt="Miniatura adicional {{ imagen_adicional.indice }}">
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<section class="trabaja-con-nosotros">
    <h2>¿Quieres unirte a nuestro equipo?</h2>
    <p>Estamos buscando talento. Si te apasiona la gastronomía, ¡queremos conocerte!</p>
    <p>Entrega tu CV en persona en nuestro local:</p>
    <p><strong>Gastrotaberna Madre Mía</strong><br> Calle Francisco de Vitoria 3, Salamanca</p>
</section>

</div>


{% include 'pages/footer.html' %}

{% endblock content %}
